* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(255, 231, 199);
}

.App {
  text-align: center;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(54, 30, 16);
}

.nav li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

.nav li a{
  color: white;
  text-decoration: none;
}

.nav li:hover {
  background-color: rgb(56, 41, 33);
}

.tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-radius: 5px;
  height: 14em;

  /* background-color: rgb(214, 244, 255); */
}

.title {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.title p {
  margin: 5px;
}

.color {
  width: 9em;
}

.tags ul {
  margin: 5px;
  margin-left: 3em;
  margin-right: 3em;
  /* width: 8%; */
  height: 12em;
  list-style-type: none;
  /* background-color: rgb(214, 244, 255); */
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.tags ul li {
  font-size: 12px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  width: 5em;
  height: 1.6em;
  box-sizing: initial;
  background-color: rgb(64, 174, 218);
  text-align: center;
  line-height: 1.6em;
  box-sizing: content-box;
}

.tags ul li:hover {
  background-color: rgb(140, 199, 106);
  color: white;
  cursor: pointer;
}

.tagList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1em;
}

.tagList li {
  margin: 2px;
}

.search {
  margin: 1em;
}

.my_observations {

}

.new_observation {

}

.currentTag {
  list-style-type: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: rgb(140, 199, 106);
}

.currentTag:hover {
  cursor: pointer;
  background-color: rgb(212, 37, 37);
}

.user-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.observation_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.observation_card {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  width: 220px;
  height: 360px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}

.observation_card p {

  margin: 2px;
}

.ex {
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  border: 2px solid black;
}

.ex:hover {
  background-color: rgb(161, 0, 0);
}

.edit {
  width: 40px;
  height: 20px;
  margin: 10px;;
  border: 2px solid black;
}

.edit:hover {
  background-color: rgb(235, 231, 0);
}

.observation_card img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;

}

.card_container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  border-radius: 10px;
  border: 2px solid rgb(207, 83, 0);
  background-color: rgb(253, 209, 158);
  padding: 10px;
  width: 220px;
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:hover {
  color: white;
  background-color: orange;
}

.card img {
  border-radius: 10px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: 50% 50%;

}

.new_observation {
  font-size: 24px;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
  box-sizing: initial;
  background-color: rgb(218, 169, 64);
  text-align: center;
  line-height: 2em;
  box-sizing: content-box;
}

.new_observation:hover {
  color: white;
  background-color: rgb(120, 194, 120);
  cursor: pointer;
}

.observation-card {
  display: flex;
  justify-content: center;
}